.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 16em auto;
	width: 25em;
	height: 25em;
	border-radius: 50px;
	background: #eeeeee;
	box-shadow: 19px 19px 38px #cacaca, -19px -19px 38px #ffffff;

	.logotext {
		color: #798c9e;
		font-family: 'Poiret One', cursive;
		font-size: 4em;
		font-weight: 700;
		margin-top: -0.8em;
	}

	.google {
		width: 3em;
		height: 4em;
		margin-top: -0.5em;
		cursor: pointer;
	}

	.appwrite-link {
		position: relative;
		bottom: -3.5em;
	}
}
